---

- name: distribute the /etc/motd file
  template:
    src: motd.j2
    dest: /etc/motd
    owner: root
    group: root
    mode: 0644
  become: true
  tags:
    - motd_config
  when: motd_modification | default(false)
    